@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Smart Leave Management System</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Smart Leave Management System</h2>
        <hr />
        @RenderBody()
    </div>
</body>
</html>
