<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Update Data Source and Initial Catalog as needed -->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SmartLeaveDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="Forms" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
